.envelope-screen {
  position: fixed;
  inset: 0;
  background-image: url("../assets/img/fondointro.jpg");
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.envelope {
  position: relative;
  width: calc(100% - 25px);
  height: 220px;

  border: 2px solid transparent;
  background-image: url("../assets/img/sobre2.png");
  background-size: cover;
  background-position: bottom;
  border-radius: 10px;

  /* borde dorado principal */
  border: 1px solid #c9a44c;

  /* brillo metálico */
  box-shadow: 0 30px 100px rgb(0, 0, 0);
}

.envelope::before {
  content: "";
  position: absolute;
  inset: 10px;
  border-radius: 10px;

  border: 2px solid rgba(201, 164, 76, 0.7);

  pointer-events: none;
}

.envelope::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../assets/img/corner-gold.png");
  background-size: cover;
  opacity: 0.35;
  pointer-events: none;
}

.envelope-flap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  clip-path: polygon(0 0, 100% 0, 50% 50%);
  transform-origin: top;
  transition: transform 1s ease;
  z-index: 3;
}

.envelope-flap::after {
  content: "";
  position: absolute;
  inset: 0px;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  clip-path: polygon(0 0, 100% 0, 50% 50%);

  background: url("../assets/img/sobre.png");
  background-position: center;
  background-size: cover;

  z-index: 3;
}

.envelope-flap::before {
  content: "";
  position: absolute;
  inset: 0;

  width: calc(100% - 10px);
  top: 10px;
  left: 5px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  background-color: rgb(0, 0, 0);
  clip-path: polygon(0 0, 100% 0, 50% 50%);
  z-index: -1;
}

.wax-seal {
  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  width: 70px;
  height: 70px;
  border-radius: 50%;

  background: url("../assets/img/sello.png");
  background-position: center;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  z-index: 4;
}

.envelope.open .envelope-flap {
  transform: rotateX(180deg);
}

.envelope-screen.fade-out {
  animation: fadeOut 1.5s ease forwards;
}

@keyframes fadeOut {
  to {
    opacity: 0;
    visibility: hidden;
  }
}

.hidden {
  display: none;
}

/* -----------------------
          SECTION 1
  --------------------------*/

.home-content {
  position: relative;
  -webkit-mask-image: linear-gradient(to bottom, black 55%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 55%, transparent 100%);
}

.home-img {
  z-index: -1000;
  width: 100%;
  height: auto;
  overflow: hidden;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

.titulo {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.titulo h1 {
  font-family: var(--font-titulos);
  font-size: 3.9rem;
  text-align: center;
  background: var(--gradient-titulo);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}

.titulo h2 {
  font-family: var(--font-subtitulos);
  font-size: 3rem;
  text-align: center;
  color: var(--rose);
  font-weight: 400;
  letter-spacing: 1px;
  margin-top: -20px;
  text-shadow: 0 5px 6px rgb(0, 0, 0);
}

/* -----------------------
          Musica
  --------------------------*/
.music-card {
  margin: 0 auto;
  background: var(--ivory-paper);
  color: var(--txt-body);
  padding: 2rem 1rem;
  width: calc(100% - 80px);
  max-width: 420px;

  border: 2px solid var(--gold-elegant);
  outline: 4px solid rgba(94, 120, 157, 0.25);

  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
  text-align: center;

  position: relative;
}

.album-art {
  width: 100%;
  height: 160px;
  background: url("../assets/img/musicaLana.jpg") center/cover no-repeat;
  background-position: top;

  border: 1px solid var(--gold-elegant);
  outline: 3px solid rgba(76, 88, 201, 0.25);

  margin-bottom: 1.5rem;
}

.song-title {
  font-family: var(--font-titulos);
  color: var(--gold-elegant);
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 0.1rem;
}

.artist-name {
  font-family: var(--font-texto);
  font-size: 0.85rem;
  color: var(--gray-pearl);
  font-style: italic;
  margin-bottom: 0.7rem;
}

.play-button {
  background: transparent;
  border: 2px solid var(--gold-elegant);
  color: var(--gold-elegant);

  width: 56px;
  height: 56px;
  border-radius: 50%;

  font-size: 22px;
  cursor: pointer;
  margin-bottom: 0;

  transition: all 0.3s ease;
}

.play-button:hover {
  background: var(--gold-elegant);
  color: white;
}

.progress-container {
  background: rgba(91, 87, 158, 0.25);
  height: 4px;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  margin-top: 1rem;
}

.progress {
  background: var(--gold-elegant);
  height: 100%;
  width: 0%;
}

.music-card::before {
  content: "❦";
  position: absolute;
  top: -14px;
  left: 50%;
  transform: translateX(-50%);
  background: var(--ivory-paper);
  padding: 0 10px;
  color: var(--gold-elegant);
  font-size: 1.4rem;
}

/* -----------------------
          SECTION 3
  --------------------------*/

.section-info {
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 80px;
  background-image: url("../assets/img/fondo-info2.png");
  width: calc(100% - 10%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  border: 2px solid var(--rose);
  outline: 5px solid rgba(194, 120, 165, 0.25);

  box-shadow: 0 25px 60px rgba(0, 0, 0, 0.15);
}

.section-info::after {
  content: "";
  position: absolute;
  top: -140px;
  left: 50%;
  transform: translateX(-50%);

  width: 260px;
  height: 280px;

  background-image: url("../assets/img/floresAzules.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  z-index: 3;
  pointer-events: none;
}

.section-info::before {
  content: "";
  position: absolute;
  bottom: -140px; /* qué tan abajo sobresale */
  left: 50%;
  transform: translateX(-50%) rotate(180deg); /* gira para simetría */
  width: 260px;
  height: 280px;

  background-image: url("../assets/img/floresAzules.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  z-index: 3;
  pointer-events: none;
}

.box-info {
  padding: 5rem 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  position: relative;
  z-index: 2;

  justify-content: center;
}

.info-primary {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sociedad {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  margin-bottom: 20px;
  border-top: 3px solid var(--rose-main);
  border-bottom: 3px solid var(--rose-main);
  width: 106%;
  padding: 10px;
}

.sub {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  margin-top: -2px;
  letter-spacing: 3px;
}

.info-primary h1 {
  margin: 0;
  font-size: 2rem;
  font-family: var(--font-subtitulos);
  font-weight: 400;
  text-align: center;
  color: var(--bg-color-4);
}

.info-primary p {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 10px;
  font-weight: lighter;
  line-height: 1.5rem;
}

.padres {
  margin: 0 auto;
  margin-top: -10px;
  text-align: center;
  line-height: 1.7rem;
  font-size: 1.3rem;
  font-family: var(--font-titulos);
}

.frase-p,
.fecha {
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
}

.frase-l h1 {
  font-family: var(--font-titulos);
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
}

.frase-l p {
  font-family: var(--font-titulos);
  text-transform: uppercase;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 400;
}

.nombre h2 {
  font-family: var(--font-subtitulos);
  font-size: 3rem;
  text-align: center;
  margin: 0;
  font-weight: 400;
  letter-spacing: 5px;
  margin-top: -10px;
}

.nombre h3 {
  font-family: var(--font-titulos);
  font-size: 1.3rem;
  text-align: center;
  margin: 0;
  font-weight: 400;
  letter-spacing: 4px;
}

.padrinos p {
  font-family: var(--font-titulos);
  text-transform: uppercase;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 10px;
}

.padrinos h2 {
  margin: 0 auto;
  text-align: center;
  line-height: 1.7rem;
  font-size: 1.2rem;
  font-family: var(--font-titulos);
  font-weight: 400;
}

.dia {
  font-family: var(--font-titulos);
  font-size: 1.6rem;
  text-align: center;
  margin: 0;
  font-weight: 400;
  text-transform: uppercase;
}

.date-box h1 {
  font-family: var(--font-subtitulos);
  font-size: 2.5rem;
  text-align: center;
  margin: 0;
  font-weight: 400;
}

.hora {
  font-family: var(--font-titulos);
  text-align: center;
  margin: 0;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-top: -10px;
}

/* -----------------------
        DATE TIME
  --------------------------*/
.timer {
  width: calc(100% - 20px);
  margin: 0 auto;
  margin-bottom: 30px;
}
.date-time {
  width: auto;
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 0;
  text-align: center;
  user-select: none;
}

.date-time li {
  background: var(--ivory-paper); /* fondo tipo carta */
  border: 2px solid var(--gold-elegant);
  border-radius: 14px;
  flex: 1;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08); /* sombra elegante */
  position: relative;
}

.date-time .time_number {
  font-family: var(--font-titulos); /* serif elegante */
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--gold-elegant); /* dorado */
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.15); /* profundidad */
}

.date-time .time_txt {
  font-family: var(--font-texto); /* serif más legible */
  font-size: 0.5rem;
  color: var(--gray-pearl);
  margin-top: 0.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.date-time li::before {
  content: "❦"; /* pequeño adorno Bridgerton */
  display: block;
  color: var(--gold-elegant);
  font-size: 1rem;
  margin-bottom: 0.3rem;
}

.timer-titulo {
  font-family: var(--font-subtitulos);
  font-size: 2rem;
  font-weight: 400;
  color: var(--rose);
  text-align: center;
  margin-bottom: 0;
}
/* -----------------------
          SECTION 4
  --------------------------*/
.section-place,
.section-place-salon {
  width: calc(100% - 30px);
  margin: 0 auto;
}

.section-place::after,
.section-place-salon::after {
  content: "";
  position: absolute;
  top: -120px; /* qué tan abajo sobresale */
  left: 50%;
  transform: translateX(-50%) rotate(180deg); /* gira para simetría */
  width: 200px;
  height: 200px;

  background-image: url("../assets/img/floresAzules.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  z-index: 3;
  pointer-events: none;
}

.box-place {
  background: var(--rose-light); /* suave variación de fondo */
  border: 2px solid var(--rose-main); /* borde dorado principal */
  border-radius: 20px;
  padding: 2rem;
  max-width: 500px;
  margin: 2rem auto;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.12); /* sombra elegante */
  position: relative;

  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.box-place:hover {
  transform: translateY(-5px);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.18);
}
.place-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.place-info img {
  width: 75px;
  height: 75px;
  border-radius: 50%; /* círculo elegante */
  border: 2px solid var(--rose-main);
  padding: 5px;
  background: var(--ivory-paper);
}

.place-txt h2 {
  font-family: var(--font-titulos);
  font-size: 1.3rem;
  color: var(--rose);
  margin: 0;
}

.place-txt p {
  font-family: var(--font-texto);
  font-size: 0.9rem;
  color: var(--gray-pearl);
  margin: 0.2rem 0 0 0;
}

.place-btn {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;

  background: var(--gold-gradient);
  color: var(--ivory-paper);
  font-family: var(--font-titulos);
  font-size: 0.85rem;
  padding: 0.6rem 1.2rem;
  border-radius: 12px;

  align-self: center;
  transition:
    background 0.3s,
    transform 0.3s;
}

.place-btn:hover {
  background: var(--rose-main);
  color: var(--gold-elegant);
  transform: translateY(-2px);
}

/* -----------------------
          SECTION 4 SALON
  --------------------------*/

.section-place-salon {
  position: relative;
  background-color: var(--bg-section-light);
  z-index: 0;
}

.box-place-salon {
  background: var(--rose-light); /* suave variación de fondo */
  border: 2px solid var(--rose-main); /* borde dorado principal */
  border-radius: 20px;
  padding: 2rem;
  max-width: 500px;
  margin: 2rem auto;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.12); /* sombra elegante */
  position: relative;

  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}
.box-place-salon:hover {
  transform: translateY(-5px);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.18);
}

/* -----------------------
          SECTION 5
  --------------------------*/
.section-galeria {
  width: 100%;
  min-height: 650px;
  position: relative;

  background-image: url(../assets/img/papelQuemado.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 4rem 0;

  z-index: 1000000;
}

.section-info-adicional {
  max-width: 480px;
  padding: 1rem 0;
  text-align: center;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.info-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
}

.section-info-adicional h2 {
  font-family: var(--font-subtitulos);
  font-size: 2.2rem;
  font-weight: 400;
  color: var(--txt-body);
  margin: 0.5rem 0;
}

.section-info-adicional p {
  font-family: var(--font-texto);
  font-size: 1rem;
  line-height: 1.7;
  color: var(--txt-body);
  padding: 0 1.2rem;
}

.info-separator img {
  opacity: 0.8;
}

.info-block::after {
  content: "❦";
  font-size: 1rem;
  margin-top: 0.5rem;
  opacity: 0.6;
}

/* -----------------------
          SECTION 6
  --------------------------*/
.section-message {
  position: relative;
  background-image: url("../assets/img/fondointro.jpg");
  background-position: center;
  background-size: cover;
  padding: 3rem 1rem 4rem;
  overflow: hidden;

  margin-top: -50px;
}

.box-message {
  max-width: 480px;
  margin: 0 auto;
  margin-top: 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;

  text-align: center;
  padding: 2.5rem 1.5rem;

  background: rgba(255, 250, 236, 0.782);
  border-radius: 24px;

  box-shadow: 0 20px 45px rgba(0, 0, 0, 0.12);
  position: relative;
  z-index: 2;
}

.section-message p {
  font-family: var(--font-texto);
  font-size: 0.9rem;
  letter-spacing: 2px;
  line-height: 1.7;
  text-transform: uppercase;
  color: var(--txt-body);
}

.section-message b {
  font-family: var(--font-subtitulos);
  font-size: 2rem;
  font-weight: 400;
  color: var(--bg-color-4);
  margin-top: 0.5rem;
}

.confirmar {
  margin-top: 1.8rem;
  padding: 0.9rem 2.2rem;

  border-radius: 999px;
  border: 1px solid rgba(165, 124, 44, 0.6);

  background: var(--gold-gradient);
  box-shadow:
    inset 0 0 0 1px rgba(255, 255, 255, 0.4),
    0 12px 30px rgba(0, 0, 0, 0.25);

  cursor: pointer;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.confirmar:hover {
  transform: translateY(-3px);
  box-shadow:
    inset 0 0 0 1px rgba(255, 255, 255, 0.6),
    0 18px 40px rgba(0, 0, 0, 0.35);
}

.confirmar a {
  text-decoration: none;
  font-family: var(--font-texto);
  font-size: 0.75rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--txt-body);
}

.section-message::before,
.section-message::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 180px;
  height: 80px;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.35;
}

/* -----------------------
          FOOTER
  --------------------------*/
footer {
  background: var(--bg-section-dark);
  color: rgba(255, 255, 255, 0.7);
  padding: 1rem;
  text-align: center;
  font-size: 1rem;
  letter-spacing: 1px;
}

footer a {
  color: var(--rose-light);
}

footer a:hover {
  text-decoration: underline;
}

.img-separador {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 2.5rem 0;
}

.img-separador img {
  position: relative;
  z-index: 2;

  max-width: 420px;
  height: 400px;
  object-fit: cover;
  width: 90%;

  border-radius: 6px;

  /* sombra editorial */
  box-shadow:
    0 30px 60px rgba(0, 0, 0, 0.25),
    0 8px 20px rgba(0, 0, 0, 0.18);

  /* marco noble invisible */
  outline: 1px solid rgba(92, 102, 171, 0.726);
  outline-offset: 8px;

  transition: all 0.7s ease;
}

.img-separador::before {
  content: "";
  position: absolute;
  width: 70%;
  height: 2px;

  background: linear-gradient(
    to right,
    transparent,
    #d4af37,
    #f6e27a,
    #d4af37,
    transparent
  );

  opacity: 0.7;
}

.img-separador::after {
  content: "";
  position: absolute;
  width: 420px;
  height: 220px;

  background: radial-gradient(
    ellipse at center,
    rgba(212, 175, 55, 0.18),
    transparent 70%
  );

  filter: blur(25px);
  z-index: 0;
}

.palabras {
  margin: 0 auto;
  font-family: var(--font-texto);
  font-size: 1rem;
  line-height: 1.6;
  text-align: justify;
  color: var(--txt-body);
  margin-bottom: 30px;

  width: calc(100% - 30px);
  background-color: var(--rose-light);
  border-radius: 5px;
  border: 2px solid var(--rose-main);

  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.338); /* sombra elegante */
}

.palabras p {
  padding: 10px 15px;
}

.palabras small {
  display: block;
  text-align: right;
  margin: 0 15px 10px 0;
  font-size: 0.9rem;
  color: var(--gray-pearl);
}

.palabras b {
  color: var(--rose);
}
